.navbar {
    background: linear-gradient(39deg, rgba(60,164,79,1) 0%, rgba(87,253,45,1) 100%);
    height: 50px;
    border-bottom-style: solid;
    border-bottom-color: gray;
    border-bottom-width: 1px;
}

.navbar-element {
    color: white;
    text-decoration: none;
}
